body{
	/* background-color: #9cf016; */
	background: url(https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	font-family: 'Maven Pro', sans-serif;
}
.title{
	color: white;
}
.noteTitle::-webkit-input-placeholder {
	color: white;
  }
.textarea{
    line-height: 25px;
}
#formControlTextarea{
	/* width:500px; */
	overflow:hidden;
	background-color:rgb(207, 194, 194);
	color:#222;
	/* font-family:Courier, monospace; */
	/* font-weight:normal; */
	/* font-size:24px; */
	resize:none;
	line-height:40px;
	padding-left:100px;
	padding-right:40px;
	/* padding-top:45px; */
	padding-bottom:34px;
	background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
	background-repeat:repeat-y, repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 0px 12px 14px black;
	box-shadow: 0px 0px 12px 14px black;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}
.addNotebtn{
	width: 100px;
	background-color: #f37121;
	border: none;
	border-radius: 12px;
}
.noteTitle{
	width: 400px;
	border: none;
	border-bottom: 2px solid white;
	background-color: inherit;
	color: white;
	font-weight: 500;
}
.noteTitle:focus{
	outline: none;
}
.card{
	height: 200px;
	border-radius: 15px;
	border: none;
	-webkit-box-shadow: 0px 2px 14px rgb(69, 134, 26);
	box-shadow: 0px 2px 14px rgb(69, 134, 26);

}
/* .card-title{
	font-size: 1.3rem;
} */
.card-text{

    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 77px;
}
.viewDetail{
	background-color: #f37121;
	border: none;
	border-radius: 15px;
}
.viewDetail:hover{
	background-color: #ac4200;
}
.deletebtn{
	border-radius: 15px;
}
.modal-body{
    overflow-wrap: anywhere;
}
pre{
    white-space: break-spaces;
}


@media screen and (min-width:576px){
    .form, .title{
        
    }
}
@media screen and (min-width:992px){
    .form, .title{
       
    }
}
@media screen and (max-width:444px){
	#formControlTextarea{
		background-image:url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
		padding: 20px;
	}
}